* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: lato, cocogoose;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#top-bar {
  background-color: #272A31;
}

#top-bar a {
  color: #D3D3D3;
  text-decoration: none;
  margin-right: 10px;
}

#wide-nav {
  background-color: #fffbfb;
}

#wide-nav .navbar img {
  width: 120px;
  height: 80px;
}

#wide-nav .navbar h5 {
  color: #272A31;
}

.cover-image {
  position: relative;
  background-image: url("../img/crowd-1056764__340.webp");
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(243, 241, 241), white);
  opacity: 0.7;
}

.cover-gradient .cover-text h2 {
  color: #EC5242;
}

.cover-gradient .cover-text h1 {
  color: #EC5242;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 800;
}
  
.info-box {
  width: 100%;
  height: auto;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 7px;
  box-shadow: 5px #272A31;
}

.info-date {
  color: #272A31;
}

@media screen and (max-width: 767px) {
  #top-bar {
    display: none;
  }

  #wide-nav .navbar img {
    display: none;
  }

  #wide-nav .navbar h5 {
    display: none;
  }

}