* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

h1 {
  overflow-y: hidden;
  margin: inherit;
}

h2 {
  overflow-y: hidden;
  margin: inherit;
}
  
h3 {
    overflow-y: hidden;
    margin: inherit;
}

h5 {
    overflow-y: hidden;
    margin: inherit;
}
   
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#top-bar {
  background-color: #272a31;
}

#top-bar a {
  color: #d3d3d3;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
}

#wide-nav {
  background-color: #fffbfb;
}

#wide-nav .navbar img {
  width: 120px;
  height: 80px;
}

#wide-nav .navbar h5 {
  color: #272a31;
}

#nav-menu {
  position: relative;
  left: 175px ;
}

.cover-text {
  position: relative;
  top: 60px;
}

.cover-image {
  position: relative;
  background-image: url("../img/crowd-1056764__340.webp");
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-image-about {
  position: relative;
  background-image: url("../img/band-4671748__340.webp");
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(243, 241, 241), white);
  opacity: 0.7;
}

.cover-gradient-about {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(243, 241, 241), white);
  opacity: 0.97;
}

.cover-gradient .cover-text h2 {
  color: #ec5242;
}

.cover-gradient .cover-text h1 {
  color: #ec5242;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 800;
}

.cover-gradient-about .cover-text-about h1 {
  color: #ec5242;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin-top: 45px;
}

.info-box {
  max-width: 480px;
  height: auto;
  margin-top: 95px;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 7px;
  box-shadow: 5px #272a31;
  background-color: white;
}

.info-date {
  margin-top: 60px;
  color: #272a31;
}

.info-box-about {
  max-width: 480px;
  height: auto;
  margin-top: 50px;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 7px;
  box-shadow: 5px #272a31;
  text-align: center;
  background-color: white;
  justify-self: center;
}

.info-date-about {
  margin-top: 65px;
  color: #272a31;
  text-align: center;
  padding: 5px;
}

.ticket-text h2 {
  text-align: center;
}

@media screen and (max-width: 767px) {
  #top-bar {
    display: none;
  }

  #wide-nav {
    background: url("../img/vinyl-3557749__340.webp");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
  }

  #wide-nav button {
    border: 2px solid black;
  }

  #wide-nav .navbar img {
    display: none;
  }

  #wide-nav .navbar h5 {
    display: none;
  }
}

